{{ define "base" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="description=" content="" />
            <meta name="keywords" content="" />
            <title>Home - Pastext</title>

            <link rel="stylesheet" href="../dist/css/main.css" defer />
            <script src="../dist/js/main.js" defer></script>
        </head>

        <body class="flex flex-col">
            <header>
                <h1 class="p-8 font-bold text-center uppercase">Pastext</h1>
                {{ template "nav" . }}
            </header>

            <main class="container h-full mt-8">
                {{ template "main" . }}
            </main>

            <footer class="container py-8 mt-8">
                Powered by
                <a href="https://golang.org/">Go</a>
            </footer>
        </body>
    </html>
{{ end }}
