{{ define "nav" }}
    <nav class="border-y-2">
        <div class="container flex gap-8 py-4">
            <a href="/">Home</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </nav>
{{ end }}
